[features]
seeds = false
skip-lint = false

[programs.localnet]
anchor_boilerplate = "92kUrJyojvfGe11mKJPenfHW8aBWpvFouVzfLhgmu9xx"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run test"